body {
	background-color: grey;
}
h1 {
	color: black;
	font-weight: bold;
}
li.nav-item.active {
	font-weight: bold;
}
li.nav-item {
	font-weight: bold;
	color: black;
}
#wrapper{
	width:1024px;
	height: auto;
	padding-top:50px;
	display: block;
	margin: auto;
}
.box{
	padding-top:30px;
}

.pagination{
	position: relative;
	left:35%;
}

.table th, .table td, .table td > p{
	vertical-align: middle;
}

.table td > p{
	margin-bottom:0px;
}
.table.table-striped {
	background-color: #00BFFF;

}